{% extends 'home.html' %}
{% block title %}
    <title>profile page</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container mt-5 bg-secondary">
            <div class="jumbotron text-center p-5" style="height:220px">
              <h1>{{request.user|title}}'s Profile</h1>
              <h3>Username:{{user.username}}</h3>
              <h3>Email:{{user.email}}</h3>
            </div>
        </div>
        {% include 'list.html' %}
    </div>
{% endblock %}